.search{
    text-align: center;
    background-color: rgb(61, 50, 124);
    color: white;
    font-size: 50px;
    padding-top: 10px;
    width: 1260px;
    height: 180px;
    
}
.placeholder{
    text-align: center;
    
}
